PORT=3000
MONGODB_URI=mongodb://444050445_db_user:Far123is45%2A@ac-jtuudu3-shard-00-00.kpz6gm9.mongodb.net:27017,ac-jtuudu3-shard-00-01.kpz6gm9.mongodb.net:27017,ac-jtuudu3-shard-00-02.kpz6gm9.mongodb.net:27017/tripo?ssl=true&authSource=admin&retryWrites=true&w=majority&appName=Tripo
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2OWEwZDg4NDUxMDMyODE3ZDkxMDViNDMiLCJlbWFpbCI6ImZhcmlzQHRyaXBvLmNvbSIsInJvbGUiOiJ1c2VyIiwiaWF0IjoxNzcyNDgwNTk1LCJleHAiOjE3NzMwODUzOTV9.j-ENZtUydwwcY0mbeA0-b2tCfXaATz2NFqxaDsdBWcw